.content{
    text-align: center;
    margin-top: 5%;
  }
  
  article {
    max-width: 100%;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
  }
  
  /* Style the heading level 1 (h1) */
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Style the heading level 3 (h3) */
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Style paragraphs (p) */
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  /* Small Devices (Tablets - Portrait) */
    @media (max-width: 767.98px) {
  
      article {
        padding: 10px;
      }
  
      h1 {
          font-size: 15px;
      }
  
      h3 {
          font-size: 12px;
      }
  
      p {
          font-size: 10px;
      }
    
  }
  
  
  
  
  /* Medium Devices (Tablets - Landscape) */
  @media (min-width: 768px) and (max-width: 991.98px) {
   
  }
  
  /* Large Devices (Desktops) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for small desktop screens */
  }
  
  /* Extra Large Devices (Large Desktops) */
  @media (min-width: 1200px) {
  /* Styles for large desktop screens */
  }
  